<section class="hero__restaurant">   
    <div class="container">
        <div class="hero__subcontainer">
            <h1 class="hero__title">Миссия</h1>
            <h2 class="hero__pretitle">Мы создаём логистику нового поколения для улучшения жизни людей и возрождения природы</h2>
            <h1 class="hero__title2">Видение</h1>
            <h2 class="hero__pretitle">Nova Generation Logictics - успешная международная стабильно растущая компания, лидер эффективности в
            транспортно-логистической сфере, с репутацией надежного партнера и ответственного бизнеса, применяющая лучшие мировые
            стандарты эффективности управления и сервиса.</h2>
            
        </div>
    </div> 
</section>