@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

table,
tbody,
caption,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Film P3";
  src: local("Film P3"), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff"), url("../fonts/film-p3-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local("Times New Roman"), url("../fonts/times-new-roman-regular.woff2") format("woff2"), url("../fonts/times-new-roman-regular.woff") format("woff"), url("../fonts/times-new-roman-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
body {
  color: #5f5f5f;
  background-color: #fffdee;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 85px;
  }
}

/* Стили для модальных окон */
.modal {
  /*  Установаем ширину окна  */
  width: 100%;
  padding: 60 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 30; /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  background-color: #fffdee;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 414px) {
  .modal {
    width: 414px;
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    width: 712px;
    padding: 60px;
  }
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__close {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  margin-left: auto;
  margin-right: auto;
  fill: #000000;
  cursor: pointer;
}
.modal__close:hover, .modal__close:focus {
  fill: #f3c653;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .modal-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.modal__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .modal__title {
    font-size: 40px;
    line-height: 1.15;
  }
}

.modal-input {
  width: 100%;
  height: 54px;
  border: 1px solid #c79002;
  border-radius: 2px;
  padding-left: 12px;
  outline: transparent;
  cursor: pointer;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #808080;
  background-color: #fffdee;
}
.modal-input:focus {
  border-color: #c79002;
}

input[type=date] {
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 24px auto, 100%;
}

input[type=date]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type=date]:focus::before,
input[type=date]:valid::before {
  display: none;
}

.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-calendar-picker-indicator {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select {
  padding-right: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 24px auto, 100%;
}

select::-ms-expand {
  display: none;
}

.modal-wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .modal-wrap {
    width: 288px;
  }
}

.modal-wrap-room {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .modal-wrap-room {
    margin-left: 304px;
    width: 288px;
  }
}

.modal-wrap-room-price {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .modal-wrap-room-price {
    margin-right: 304px;
    width: 288px;
  }
}

.user-name-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: #c79002;
  padding-left: 12px;
  margin-top: 8px;
  text-align: start;
}

.button-submit {
  margin-top: 20px;
}

.user-name-text-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: start;
  color: #c79002;
  padding-left: 12px;
  margin-top: 8px;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.overlay .modal.active {
  pointer-events: none;
}

.button-primary, .button-secondary {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  padding: 14px 21px;
  min-width: 236px;
  text-align: center;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover, .button-secondary:hover, .button-primary:focus, .button-secondary:focus {
  background-color: #f3c653;
  color: #000000;
  border-color: #f3c653;
}

.button-secondary {
  background-color: #000000;
}

.button-tertiary {
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  padding: 20px 43px;
  border: 1px solid #f3c653;
  background-color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-tertiary:hover, .button-tertiary:focus {
  color: #000000;
  background-color: #f3c653;
}
@media screen and (min-width: 1024px) {
  .button-tertiary {
    min-width: 384px;
  }
}
@media screen and (min-width: 1280px) {
  .button-tertiary {
    padding: 18px 38px;
    font-size: 24px;
  }
}

.button-modal, .button-submit {
  cursor: pointer;
  width: 100%;
  padding: 20px 40px;
  border-radius: 2px;
  border: 1px solid #f3c653;
  text-align: center;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover, .button-submit:hover, .button-modal:focus, .button-submit:focus {
  color: #000000;
  background-color: #f3c653;
}
@media screen and (min-width: 1024px) {
  .button-modal, .button-submit {
    padding: 18px 110px;
    font-size: 24px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.header-grad {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
  width: 414px;
  height: 143px;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .header-grad {
    width: 1024px;
    height: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .header-grad {
    width: 1280px;
    height: 147px;
  }
}

.logo__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #f3c653;
  margin-top: 16px;
}
@media screen and (min-width: 1024px) {
  .logo__name {
    font-size: 40px;
    line-height: 1.08;
  }
}

.navigation-list {
  display: flex;
  max-width: 100%;
}

.navigation__list__link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
  display: flex;
  color: #f3c653;
  align-items: center;
}

.navigation__list__item:not(:last-child) {
  margin-right: 20px;
}

.navigation {
  margin-left: 49px;
}
@media screen and (max-width: 413px) {
  .navigation {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navigation__tablet {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__tablet {
    margin-left: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__tablet {
    margin-left: 96px;
  }
}

.navigation__tablet__list {
  display: flex;
}

.navigation-container {
  display: flex;
}

.navigation__tablet-container {
  display: flex;
}

.header__icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 6px;
}
@media screen and (max-width: 413px) {
  .header__icon {
    display: none;
  }
}

.header__icon__tablet {
  width: 24px;
  height: 24px;
  fill: #f3c653;
}

.navigation__tablet__list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
  display: flex;
  align-items: center;
  margin-right: 39px;
}

.navigation__tablet__list__item.bordered {
  display: flex;
  padding: 3px 4px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

.navigation__tablet__list__item.bordered:not(:last-child) {
  margin-right: 73px;
}

.navigation__tablet__list__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.navigation__tablet__list__tel:nth-child(2) {
  margin-left: 16px;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  height: 570px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 720px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/tablet/03.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/tablet/03.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
    max-width: 1920px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  }
}

.hero__subcontainer {
  position: relative;
}

.rest__address {
  position: absolute;
  top: 60px;
  left: 175px;
  width: 210px;
  height: 47px;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 5px 2px 5px;
  margin-left: auto;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 413px) {
  .rest__address {
    left: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .rest__address {
    width: 285px;
    height: 56px;
    top: 570px;
    left: 0;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .rest__address {
    top: 553px;
    left: 0;
  }
}

.icon-location {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
  max-width: 300;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    padding-top: 108px;
    margin-bottom: 16px;
    max-width: 600;
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 67px;
    padding-top: 124px;
    margin-bottom: 32px;
    max-width: 1200;
  }
}

.hero__pretitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .hero__pretitle {
    margin-bottom: 56px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__pretitle {
    margin-bottom: 56px;
    font-size: 46px;
    text-align: left;
  }
}

.hero__text {
  text-align: center;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 113px;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    margin-bottom: 145px;
  }
}

.hero__button:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .hero__button:not(:last-child) {
    margin-bottom: 0;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 61px;
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .hero__buttons {
    flex-wrap: nowrap;
    gap: 40px;
    margin-left: auto;
    justify-content: end;
    margin-bottom: 0;
  }
}

.hero__socials {
  display: flex;
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: 20;
  z-index: 20;
}
@media screen and (max-width: 413px) {
  .hero__socials {
    bottom: -85px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__socials {
    bottom: -85px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__socials {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__socials {
    display: none;
  }
}

.hero__socials__desktop {
  display: flex;
  margin-left: 61px;
  margin-left: 61px;
}
@media screen and (max-width: 1279px) {
  .hero__socials__desktop {
    display: none;
  }
}

.hero__socials__link:not(:last-child) {
  margin-right: 20px;
}

.hero__soc__icon {
  fill: #f3c653;
  width: 22px;
  height: 22px;
}

.icon-location {
  fill: #f3c653;
  width: 24px;
  height: 24px;
}

.hero__restaurant {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  height: 740px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__restaurant {
    height: 720px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__restaurant {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
    max-width: 1920px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/desktop/03.jpg);
  }
}

.hero__hotel {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  height: 740px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__hotel {
    height: 720px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__hotel {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
    max-width: 1920px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/mobile/03.jpg);
  }
}

.hero__pretitle__hotel {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 178px;
}
@media screen and (min-width: 1024px) {
  .hero__pretitle__hotel {
    margin-bottom: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__pretitle__hotel {
    margin-bottom: 249px;
  }
}

.contact {
  padding-top: 36px;
  padding-bottom: 32px;
  background: #fffdee;
}
@media screen and (min-width: 1024px) {
  .contact {
    height: 521px;
    padding-top: 56px;
    padding-bottom: 32px;
  }
  .contact .container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding-top: 56px;
    padding-bottom: 74px;
  }
}

.contact__wrap {
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.contact__title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.078;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .contact__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.078;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    margin-bottom: 16px;
  }
}

.contact__title-name {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #5f5f5f;
}
@media screen and (min-width: 1024px) {
  .contact__title-name {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title-name {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #c79002;
}

.contact__item {
  display: block;
  align-items: center;
  align-content: center;
}
.contact__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 414px) {
  .contact__item {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .contact__item {
    display: block;
  }
}
.contact__item > div {
  display: flex;
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  fill: #c79002;
}
.contact__item > div > a + a {
  margin-left: 12px;
}

.contact__list {
  display: block;
}
@media screen and (min-width: 1024px) {
  .contact__list {
    display: block;
  }
}

.contact__box-1 {
  width: 144px;
  height: 40px;
  margin-left: 0px;
}
@media screen and (min-width: 414px) {
  .contact__box-1 {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .contact__box-1 {
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.contact__box-2 {
  width: 264px;
  height: 40px;
}
@media screen and (min-width: 414px) {
  .contact__box-2 {
    margin-left: 54px;
  }
}
@media screen and (min-width: 1024px) {
  .contact__box-2 {
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 48px;
  }
}

.contact__box-3 {
  width: 260px;
  height: 76px;
  margin-left: 0px;
  padding-right: 33px;
}
@media screen and (min-width: 414px) {
  .contact__box-3 {
    margin-left: 124px;
  }
}
@media screen and (min-width: 1024px) {
  .contact__box-3 {
    width: 285px;
    height: 56px;
    margin: 0px;
    padding-right: 0px;
  }
}

.contact__box-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #828282;
  display: inline-flex;
  align-items: center;
  align-content: center;
}

.contact__location-text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1024px) {
  .contact__location-text {
    padding-right: 0px;
  }
}

.contact__icon {
  margin-left: 8px;
  margin-top: 9px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.contact__icon-location {
  margin-left: 10px;
  margin-top: 26px;
  margin-right: 10px;
  margin-bottom: 26px;
  fill: #c79002;
}

@media screen and (max-width: 1023px) {
  .contact__map {
    max-width: 384px;
    height: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .contact__map {
    margin-left: auto;
  }
}

.map {
  width: 100%;
  height: 100%;
  border: 1px solid #bababa;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .map {
    width: 535px;
    height: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .map {
    width: 634px;
    height: 412px;
  }
}

.footer {
  background: #0e0c07;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__list {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    margin-bottom: 0px;
  }
}

.footer__logo,
.footer__link {
  color: #f3c653;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover, .footer__logo:focus,
.footer__link:hover,
.footer__link:focus {
  color: #ffffff;
}

.footer__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-size: 64px;
    line-height: 1.078125;
  }
}

@media screen and (min-width: 1024px) {
  .footer__links {
    display: flex;
    gap: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__links {
    gap: 190px;
  }
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #f3c653;
}

.footer__link-wrap:not(:last-child) {
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .soc-list {
    flex-direction: column-reverse;
    gap: 12px;
  }
}

.soc-list__link {
  position: relative;
  fill: #f3c653;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  fill: #ffffff;
}

.soc-list__text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .soc-list__text {
    display: block;
    width: 143px;
    height: 40px;
    border: 0.5px solid;
    border-color: #f3c653;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #f3c653;
    font-size: 16px;
    line-height: 1.25;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .soc-list__text:hover, .soc-list__text:focus {
    color: #ffffff;
    border-color: #ffffff;
  }
}

.soc-list__icon {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .soc-list__icon {
    position: absolute;
    bottom: 8px;
    left: 108px;
  }
}

.menu {
  background: #f0ecd6;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding-top: 58px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__wrap {
    flex-basis: calc((100% - 90px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .menu__wrap {
    flex-basis: calc((100% - 140px) / 2);
  }
}

.menu__title {
  margin-bottom: 32px;
  font-family: "Times New Roman";
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 414px) {
  .menu__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__flex {
    display: flex;
    gap: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__flex {
    gap: 140px;
  }
}

.dishes__table {
  width: 100%;
  max-width: 384px;
  border-collapse: collapse;
  padding: 0;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .dishes__table {
    max-width: 420px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__table {
    max-width: 485px;
  }
}

.dishes__basis {
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .dishes__basis {
    margin-bottom: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__basis {
    font-size: 24px;
    line-height: 1.16;
  }
}

.menu__card {
  margin-top: 4px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: #000000;
}

.dishes__denotation {
  width: 100vw;
  max-width: 225px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .dishes__denotation {
    max-width: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__denotation {
    font-size: 16px;
    line-height: 1.25;
  }
}

.dishes__storage {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.dishes__weight {
  text-align: end;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
}

.dishes__price {
  text-align: end;
  max-width: 62px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .dishes__price {
    max-width: 70px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu__button {
  display: block;
  padding: 15px 24px 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 auto;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #f3c653;
  width: 100%;
  max-width: 236px;
  margin-top: 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .menu__button {
    margin-right: 0;
    margin-top: 20px;
  }
}

.menu__button:hover,
.menu__button:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}

.menu__indent {
  border-bottom: 8px solid transparent;
}
@media screen and (min-width: 1280px) {
  .menu__indent {
    border-bottom: 12px solid transparent;
  }
}

.menu__indent-x {
  border-bottom: 4px solid transparent;
}

.menu__indent-y {
  border-bottom: 8px solid transparent;
}
@media screen and (min-width: 1024px) {
  .menu__indent-y {
    border-bottom: 15px solid transparent;
  }
}
@media screen and (min-width: 1280px) {
  .menu__indent-y {
    border-bottom: 19px solid transparent;
  }
}

.dishes__denotation > p {
  margin-bottom: 8px;
}

.hero-plug {
  padding-top: 483px;
  position: relative;
  z-index: -2;
}
@media screen and (min-width: 1024px) {
  .hero-plug {
    padding-top: 468px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-plug {
    padding-top: 524px;
  }
}

.hotel__title_hero--room {
  position: relative;
  z-index: 6;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1428571429;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hotel__title_hero--room {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__title_hero--room {
    font-size: 36px;
  }
}

.hotel__aftetitle_hero {
  position: relative;
  z-index: 6;
  font-size: 12px;
  margin-bottom: 17px;
  max-width: 325px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .hotel__aftetitle_hero {
    max-width: 439px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__aftetitle_hero {
    max-width: 400px;
    font-weight: 700;
    padding-bottom: 38px;
  }
}

.hero-btn-soc {
  position: relative;
  z-index: 6;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 42px;
}
@media screen and (min-width: 1024px) {
  .hero-btn-soc {
    position: static;
  }
}

.button-room {
  position: relative;
  z-index: 6;
}

.hero__socials-hotel_hero {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (min-width: 1024px) {
  .hero__socials-hotel_hero {
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: row;
    row-gap: 23px;
    top: 659px;
    right: 490px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__socials-hotel_hero {
    display: none;
  }
}

.icon-location {
  fill: #f3c653;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1024px) {
  .button-primary-hotel {
    position: absolute;
    display: block;
    right: 0;
    top: 608px;
  }
}
@media screen and (min-width: 1280px) {
  .button-primary-hotel {
    top: 594px;
  }
}

.rest__address_hero {
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 5px 2px 5px;
  margin-left: auto;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  top: 55px;
  left: 150px;
}
@media screen and (max-width: 413px) {
  .rest__address_hero {
    left: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .rest__address_hero {
    width: 285px;
    font-size: 16px;
    top: 640px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .rest__address_hero {
    display: none;
  }
}

.about-restaurant__container, .about-hotel__container {
  position: relative;
  padding-top: 16px;
  padding-bottom: 72px;
}
@media screen and (min-width: 1024px) {
  .about-restaurant__container, .about-hotel__container {
    padding-bottom: 262px;
  }
}
@media screen and (min-width: 1280px) {
  .about-restaurant__container, .about-hotel__container {
    padding-bottom: 15px;
  }
}

.about-restaurant__subtitle, .about-hotel__subtitle {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .about-restaurant__subtitle, .about-hotel__subtitle {
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 4px;
  }
}

.about-restaurant__logo, .about-hotel__logo {
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #c79002;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .about-restaurant__logo, .about-hotel__logo {
    font-size: 64px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .about-restaurant__logo, .about-hotel__logo {
    color: #c79002;
  }
}

@media screen and (max-width: 1023px) {
  .info-cards {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .info-card {
    display: flex;
  }
}

.info-card:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .info-card:first-child {
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:first-child {
    margin-bottom: 162px;
  }
}

.info-card:nth-child(2n):not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .info-card:nth-child(2n):not(:last-child) {
    margin-bottom: 0;
  }
}

.info-card__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .info-card__description {
    font-size: 16px;
  }
}

.info-card:first-child .info-card__description {
  color: #5f5f5f;
  max-width: 258px;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .info-card:first-child .info-card__description {
    max-width: 539px;
    margin-bottom: 0;
  }
}

.info-card:first-child .info-card__thumb {
  margin-left: auto;
  width: 244px;
}
@media screen and (min-width: 1024px) {
  .info-card:first-child .info-card__thumb {
    position: absolute;
    top: -32px;
    right: 65px;
    margin-left: 0;
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:first-child .info-card__thumb {
    top: -33px;
    right: 95px;
    width: 460px;
  }
}

.info-card__thumb {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .info-card__thumb {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 1280px) {
  .info-card:not(:first-child) .info-card__thumb {
    box-shadow: none;
  }
}

.info-card:nth-child(n+2) .info-card__description {
  color: #c79002;
  max-width: 163px;
}
@media screen and (min-width: 1024px) {
  .info-card:nth-child(n+2) .info-card__description {
    max-width: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:nth-child(n+2) .info-card__description {
    max-width: 412px;
  }
}

.info-card:nth-child(n+2) {
  display: flex;
  align-items: center;
}

.info-card:nth-child(2n) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.info-card:nth-child(2n) .info-card__description {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .info-card:nth-child(2n) .info-card__description {
    margin-left: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:nth-child(2n) .info-card__description {
    margin-left: 92px;
  }
}

.info-card:nth-child(2n+3) .info-card__description {
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .info-card:nth-child(2n+3) .info-card__description {
    margin-right: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:nth-child(2n+3) .info-card__description {
    margin-right: 32px;
  }
}

.info-card:nth-child(n+2) .info-card__thumb {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  .info-card:nth-child(n+2) .info-card__thumb {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card:nth-child(n+2) .info-card__thumb {
    width: 460px;
  }
}

.slider-about__item {
  border-radius: 2px;
  overflow: hidden;
}

.details-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 414px;
  max-height: 735px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/mobile/hmpg-8-mb.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/mobile/hmpg-8-mb@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .details-restaurant {
    padding-top: 48px;
    padding-bottom: 96px;
    max-width: 1024px;
    max-height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/tablet/hmpg-8-tb.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/tablet/hmpg-8-tb@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .details-restaurant {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/desktop/hmpg-8-ds.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home/desktop/hmpg-8-ds@2x.jpg");
  }
}

.details-restaurant__text-container, .details-hotel__text-container {
  padding-left: 33.3333333333%;
  box-sizing: content-box;
  max-width: 610px;
  margin-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  .details-restaurant__text-container, .details-hotel__text-container {
    padding-left: 230px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .details-restaurant__text-container, .details-hotel__text-container {
    padding-left: 253px;
  }
}

.details-restaurant__logo, .details-hotel__logo {
  font-family: "Film P3", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .details-restaurant__logo, .details-hotel__logo {
    font-size: 64px;
    margin-bottom: 16px;
  }
}

.details-restaurant__title, .details-hotel__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .details-restaurant__title, .details-hotel__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.details-restaurant__text, .details-hotel__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .details-restaurant__text, .details-hotel__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .destails-restaurant__thumb {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.buttons-list {
  text-align: center;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .buttons-list {
    margin-right: 29px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-list {
    margin-right: 32px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.about-hotel__subtitle {
  text-align: right;
}

.about-hotel__logo {
  text-align: right;
}

.info-card--mirrored:first-child .info-card__description {
  margin-left: auto;
}

.info-card--mirrored:first-child .info-card__thumb {
  margin-right: auto;
  margin-left: 0;
  width: 244px;
}
@media screen and (min-width: 1024px) {
  .info-card--mirrored:first-child .info-card__thumb {
    position: absolute;
    top: -32px;
    left: 65px;
    margin-left: 0;
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .info-card--mirrored:first-child .info-card__thumb {
    top: -33px;
    left: 95px;
    width: 460px;
  }
}

.info-card--mirrored:nth-child(2n) {
  flex-direction: row;
}

.info-card--mirrored:nth-child(2n) .info-card__description {
  margin-right: 20px;
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .info-card--mirrored:nth-child(2n) .info-card__description {
    margin-right: 48px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .info-card--mirrored:nth-child(2n) .info-card__description {
    margin-right: 32px;
    margin-left: 0;
  }
}

.info-card--mirrored:nth-child(2n+3) .info-card__description {
  margin-left: 20px;
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .info-card--mirrored:nth-child(2n+3) .info-card__description {
    margin-left: 48px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .info-card--mirrored:nth-child(2n+3) .info-card__description {
    margin-left: 32px;
    margin-right: 0;
  }
}

.details-hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 414px;
  max-height: 878px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/mobile/hmpg-19-mb.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/mobile/hmpg-19-mb@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .details-hotel {
    padding-top: 48px;
    padding-bottom: 96px;
    max-width: 1024px;
    max-height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/tablet/hmpg-19-tb.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/tablet/hmpg-19-tb@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .details-hotel {
    max-width: 1280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/desktop/hmpg-19-ds.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home/desktop/hmpg-19-ds@2x.jpg");
  }
}

.details-hotel__text-container {
  padding-left: 0;
  padding-right: 33.3333333333%;
}
@media screen and (min-width: 1024px) {
  .details-hotel__text-container {
    padding-right: 230px;
    margin-bottom: 40px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .details-hotel__text-container {
    padding-right: 253px;
  }
}

.details-hotel__logo {
  text-align: right;
}

.details-hotel__title {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .details-hotel__thumb {
    display: flex;
    align-items: flex-end;
  }
}

.buttons-list__details-hotel {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .buttons-list__details-hotel {
    margin-right: 0;
    margin-left: 29px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-list__details-hotel {
    margin-right: 0;
    margin-left: 32px;
  }
}

.hotel {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .hotel {
    position: relative;
    padding-top: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel {
    padding-top: 72px;
  }
}
.hotel--secondary-bg-color {
  background-color: #f0ecd6;
}
.hotel__text {
  margin-bottom: 8px;
  color: #b4b4b4;
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1024px) {
  .hotel__text {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.16;
  }
}
.hotel__text--right {
  text-align: right;
}
.hotel__logo {
  margin-bottom: 32px;
  color: #494848;
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 1024px) {
  .hotel__logo {
    margin-bottom: 62px;
    font-size: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__logo {
    margin-bottom: 72px;
  }
}
.hotel__logo--right {
  text-align: right;
}
.hotel__title {
  margin-bottom: 12px;
  color: #000000;
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  .hotel__title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.14;
  }
}
.hotel__aftetitle {
  margin-bottom: 32px;
  max-width: 258px;
  color: #5f5f5f;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .hotel__aftetitle {
    margin-bottom: 176px;
    max-width: 439px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__aftetitle {
    margin-bottom: 188px;
    max-width: 400px;
    font-weight: 700;
  }
}
.hotel__wrap--right {
  max-width: 305px;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .hotel__wrap--right {
    max-width: 379px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__wrap--right {
    max-width: 457px;
  }
}
.hotel__thumb {
  margin-bottom: 32px;
  max-width: 246px;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .hotel__thumb {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateY(-6.1%);
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__thumb {
    transform: translateY(-5.57%);
    max-width: 460px;
  }
}
.hotel__thumb--right {
  margin-bottom: 32px;
  max-width: 246px;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .hotel__thumb--right {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateY(-6.1%);
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__thumb--right {
    transform: translateY(-5.57%);
    max-width: 460px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel__slider-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .hotel__slider-wrap-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.hotel__btn-wrap {
  text-align: center;
}
.hotel__link {
  margin-bottom: 16px;
  display: inline-block;
  border-color: transparent;
}
.hotel__link:hover, .hotel__link:focus {
  border-color: #f3c653;
}
.hotel__button {
  display: block;
  margin: 0 auto;
  border-color: transparent;
}
.hotel__button:hover, .hotel__button:focus {
  border-color: #f3c653;
}

@media screen and (min-width: 414px) {
  .room__info {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .room__info {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__info-title {
    margin-bottom: 10px;
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.68;
    color: #000000;
  }
}
@media screen and (min-width: 414px) {
  .room__info-title {
    margin-bottom: 16px;
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: #000000;
  }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__info-description {
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
}
@media screen and (min-width: 414px) {
  .room__info-description {
    margin-bottom: 32px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__features-title {
    margin-bottom: 10px;
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    color: #000000;
  }
}
@media screen and (min-width: 414px) {
  .room__features-title {
    margin-bottom: 16px;
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #000000;
  }
}

@media screen and (min-width: 414px) {
  .room__features-item {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__features-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
}
@media screen and (min-width: 414px) {
  .room__features-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
}
@media screen and (min-width: 1024px) {
  .room__features-description {
    max-width: 400px;
  }
}

@media screen and (min-width: 414px) {
  .feature-column-1 {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 414px) {
  .room__features-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 414px) {
  .room__nav {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .room__nav {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .room__nav {
    max-width: 959px;
  }
}

.room__booking-button {
  transition: background 0.25s linear, border 0.25s linear;
}
@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__booking-button {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #000000;
    width: 280px;
    height: 54px;
    border-radius: 25px;
    border: 1px solid #f3c653;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
  }
}
@media screen and (min-width: 414px) {
  .room__booking-button {
    margin-bottom: 20px;
    background-color: #000000;
    width: 384px;
    height: 64px;
    border-radius: 25px;
    border: 1px solid #f3c653;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  .room__booking-button {
    margin-bottom: 32px;
    font-size: 24px;
    width: 434px;
  }
}

.room__back-link {
  display: flex;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 413px) {
  .room__back-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #c79002;
    fill: #c79002;
    margin-left: 16px;
  }
}
@media screen and (min-width: 414px) {
  .room__back-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #c79002;
    fill: #c79002;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .room__back-link {
    margin-left: 0;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .room__features-columns {
    display: flex;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .room__features-columns {
    max-width: 959px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (min-width: 1280px) {
  .room__vanna-description {
    min-width: 495px;
  }
}

.room__back-icon {
  margin-left: 17px;
}

.room__back-link:hover,
.room__back-link:focus {
  color: #f3c653;
  fill: #f3c653;
}

.room__booking-button:hover,
.room__booking-button:focus {
  background-color: #f3c653;
  color: #000000;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */