<section class="hero__hotel">
  <div class="container">
    <div class="hero__subcontainer">
      <h1 class="hero__title">Ценности</h1>

<div class="slider-about-thumb">
  <ul class="slider-about about-restaurant__slider homepage-slider">
   
      <!-- 1 -->
      <li  class="portfolio__item">
        <a class="portfolio__link" href="#">
          <div class="portfolio__box">
            <picture>
              <source media="(min-width: 1200px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(min-width: 768px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(max-width: 767px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <img class="portfolio__image" src="./images/home/desktop/03.jpg" alt="Basketball" width="450" height="294"
                loading="lazy">
            </picture>
            <p class="portfolio__overlay">Стремиться к совершенству в каждом аспекте деятельности компании, стремясь предоставлять исключительные услуги, инновационные решения и выдающиеся впечатления клиентов. Устанавливать высокие стандарты и постоянно улучшать работу,чтобы превзойти ожидания клиентов.</p>
          </div>
          <div class="portfolio__content">
            <h2 class="portfolio__name">Превосходство</h2>
            <!-- <p class="portfolio__text">Design</p> -->
          </div>
        </a>
      </li>
      <!-- 2 -->
      <li class="portfolio__item">
        <a class="portfolio__link" href="#">
          <div class="portfolio__box">
            <picture>
              <source media="(min-width: 1200px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(min-width: 768px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(max-width: 767px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <img class="portfolio__image" src="./images/home/desktop/03.jpg" alt="Basketball" width="450" height="294"
                loading="lazy">
            </picture>
            <p class="portfolio__overlay">Вести бизнес с максимальной честностью, придерживаясь этических норм, прозрачности
              и честности во всех взаимодействиях.
              Придерживаться твердых моральных принципов и строить доверительные отношения с клиентами, партнерами и
              заинтересованными
              сторонами. Действуйте честно во всех финансовых и операционных вопросах.</p>
          </div>
          <div class="portfolio__content">
            <h2 class="portfolio__name">Честность</h2>
            <!-- <p class="portfolio__text">Design</p> -->
          </div>
        </a>
      </li>
    
      <!-- 3 -->
      <li class="portfolio__item">
        <a class="portfolio__link" href="#">
          <div class="portfolio__box">
            <picture>
              <source media="(min-width: 1200px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(min-width: 768px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(max-width: 767px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <img class="portfolio__image" src="./images/home/desktop/03.jpg" alt="Basketball" width="450" height="294"
                loading="lazy">
            </picture>
            <p class="portfolio__overlay">Создавать рабочую среду, способствующую командной работе, обмену знаниями и
              межфункциональному сотрудничеству. Поощряйте
              открытое общение и взаимодействие как внутри компании, так и за ее пределами, чтобы использовать различные
              точки зрения
              и способствовать коллективному успеху.</p>
          </div>
          <div class="portfolio__content">
            <h2 class="portfolio__name">Сотрудничество</h2>
            <!-- <p class="portfolio__text">Design</p> -->
          </div>
        </a>
      </li>
    
      <!-- 4 -->
      <li class="portfolio__item">
        <a class="portfolio__link" href="#">
          <div class="portfolio__box">
            <picture>
              <source media="(min-width: 1200px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(min-width: 768px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(max-width: 767px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <img class="portfolio__image" src="./images/home/desktop/03.jpg" alt="Basketball" width="450" height="294"
                loading="lazy">
            </picture>
            <p class="portfolio__overlay">Внедрять культуру инноваций и постоянного совершенствования, поощряя сотрудников к
              поиску новых идей, технологий и
              подходов. Внедрять инновации в предложения услуг, процессы и бизнес-модели, чтобы опережать тенденции рынка и
              предлагать передовые решения.</p>
          </div>
          <div class="portfolio__content">
            <h2 class="portfolio__name">Инновации</h2>
            <!-- <p class="portfolio__text">Design</p> -->
          </div>
        </a>
      </li>
    
      <!-- 5 -->
      <!-- <li class="portfolio__item">
        <a class="portfolio__link" href="#">
          <div class="portfolio__box">
            <picture>
              <source media="(min-width: 1200px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(min-width: 768px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <source media="(max-width: 767px)" srcset="./images/home/desktop/03.jpg 1x, ./images/home/desktop/03.jpg 2x">
              <img class="portfolio__image" src="./images/home/desktop/03.jpg" alt="Basketball" width="450" height="294"
                loading="lazy">
            </picture>
            <p class="portfolio__overlay">Ставить клиента в центр всего, что делает компания, понимая его потребности,
              проблемы и цели. Подбирать решения в
              соответствии с конкретными требованиями клиента и предоставлять персонализированные услуги с добавленной
              стоимостью.
              Стремиться к построению долгосрочных отношений с клиентами, основанных на доверии, надежности и
              удовлетворенности
              клиентов.</p>
          </div>
          <div class="portfolio__content">
            <h2 class="portfolio__name">Клиентоориентированность</h2>
            <!-- <p class="portfolio__text">Design</p> -->
          </div>
        </a>
      </li> -->
    
      </ul>
      
</div>





      
    
    </div>
  </div>
</section>
