<section class="about-restaurant">
  <div class="container about-restaurant__container">
    <h2 class="visually-hidden">Мы помогаем</h2>
        <p class="about-restaurant__logo">NGL</p>
        <p class="about-restaurant__subtitle">Мы помогаем:</p>
    <ul class="info-cards">
      <li class="info-card">
        <p class="info-card__description">
          • Улучшить финансовые показатели;<br />
          • Повысить предсказуемость операционных и финансовых результатов;<br />
          • Сплотить управленческую команду;<br />
          • Сократить затраты на активы за счет лучшего обслуживания и управления денежными средствами;<br />
          • Улучшить баланс и поток операций в доке, устранить потери и уменьшить вариативность;<br />
          • Улучшить маршрутизацию грузовиков и график доставки;<br />
          • Сократить эксплуатационные расходы (часто производительность труда, управление топливом или техническое
          обслуживание;<br />
          оборудования)<br />
          • Оптимизировать администрирование на предприятии<br />
          • Настроить планирование и составление графиков для улучшения обслуживания и использования оборудования<br />
          • Повысить вовлечённость сотрудников<br />
          • Улучшить меж функциональную координацию (например, диспетчерские, доковые и флотские операции)<br />


        </p>
        <div class="info-card__thumb">
          <picture>
            <source srcset="./images/home/mobile/Foto1.jpg 1x, ./images/home/mobile/Foto1.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/mobile/Foto1.jpg 1x, ./images/home/mobile/Foto1.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/Foto1.jpg 1x, ./images/home/mobile/Foto1.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/Foto1.jpg" alt="ресторан зі столами і посудом на них">
          </picture>
        </div>
      </li>
         </ul>
   
  </div>
</section>
