<section class="about-hotel">
  <div class="container about-hotel__container">
    <h2 class="visually-hidden">Мы стремимся</h2>
    <p class="about-hotel__logo">NGL</p>
    <p class="about-hotel__subtitle">Мы стремимся:</p>
    
    <ul class="info-cards">
      <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          • Создавать конкурентные преимущества за счет уникальных решений <br />
          • Наращивать потенциал организаций<br />
          • Обеспечивать устойчивое воздействие<br />
          • Предоставлять беспрецедентные возможности для личного роста<br />
          • Добивать успеха вместе со страстью и доверием<br />
          • Быть партнером по выбору для преобразования бизнеса и общества<br />
          • Интегрировать структуры, процессы и людей для комплексного воздействия<br />
          • Создавать организации, ориентированные на таланты<br />
          • Внедрять более гибкие способы работы во всей организации<br />
          • Обеспечивать устойчивое улучшение производительности и организационного здоровья<br />
        </p>
        <div class="info-card__thumb">
          <picture>
            <source srcset="./images/home/desktop/hmpg-13-ds.jpg 1x, ./images/home/desktop/hmpg-13-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-13-tb.jpg 1x, ./images/home/tablet/hmpg-13-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-13-mb.jpg 1x, ./images/home/mobile/hmpg-13-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-13-mb.jpg" alt="номер у готелі з ліжком і диваном">
          </picture>
        </div>
      </li>

      
      <!-- <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <source srcset="./images/home/desktop/hmpg-14-ds.jpg 1x, ./images/home/desktop/hmpg-14-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-14-tb.jpg 1x, ./images/home/tablet/hmpg-14-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-14-mb.jpg 1x, ./images/home/mobile/hmpg-14-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-14-mb.jpg" alt="лоббі готелю з каміном, диваном та кріслами">
          </picture>
        </div>
      </li> -->
    </ul>
    <!-- <div class="slider-about-thumb slider-about-thumb--mirrored">
      <ul class="slider-about homepage-slider about-hotel__slider">
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-15sl-ds.jpg 1x, ./images/home/desktop/hmpg-15sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-15sl-tb.jpg 1x, ./images/home/tablet/hmpg-15sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-15sl-mb.jpg 1x, ./images/home/mobile/hmpg-15sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-15sl-mb.jpg" alt="рецепціоністка обслуговує клієнта готелю">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-16sl-ds.jpg 1x, ./images/home/desktop/hmpg-16sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-16sl-tb.jpg 1x, ./images/home/tablet/hmpg-16sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-16sl-mb.jpg 1x, ./images/home/mobile/hmpg-16sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-16sl-mb.jpg" alt="скручені рушники на ліжку">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-17sl-ds.jpg 1x, ./images/home/desktop/hmpg-17sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-17sl-tb.jpg 1x, ./images/home/tablet/hmpg-17sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-17sl-mb.jpg 1x, ./images/home/mobile/hmpg-17sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-17sl-mb.jpg" alt="раковина з рушником">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-18sl-ds.jpg 1x, ./images/home/desktop/hmpg-18sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-18sl-tb.jpg 1x, ./images/home/tablet/hmpg-18sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-18sl-mb.jpg 1x, ./images/home/mobile/hmpg-18sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-18sl-mb.jpg" alt="диван зі столиком і дзеркалом на стіні">
          </picture>
        </li>
      </ul>
    </div> -->
  </div>
</section>

<section class="about-restaurant">
  <div class="container about-restaurant__container">
    <h2 class="visually-hidden">Мы целостно</h2>
    <p class="about-restaurant__logo">NGL</p>
    <p class="about-restaurant__subtitle">Мы целостно:</p>
    <ul class="info-cards">
      <li class="info-card">
        <p class="info-card__description">
          • изучаем ваш уникальный контекст, чтобы помочь воплотить стратегию в жизнь, от изменений в масштабах всего предприятия
          до быстрой переподготовки ваших сотрудников.<br/>
          
          • подходим как к голове, так и к сердцу изменений, используя идеи и данные на службе действий, чтобы обеспечить новое
          поведение и внедрить новые способы работы.<br />
          
          • подбираем контрольные показатели, инструменты и экспертов, которые помогут быстро решить самые сложные задачи,
          поддерживая развитие ваших сотрудников, культуры и лидерских качеств.<br />
          
          • сосредотачиваемся на наращивании потенциала с первого дня, уделяя время тому, чтобы понять вашу организацию, чтобы мы
          могли вооружить ваших сотрудников структурой, системами и навыками, необходимыми для достижения успеха еще долго после
          того, как мы уйдем.<br />

        </p>
        <div class="info-card__thumb">
          <picture>
            <source srcset="./images/home/desktop/hmpg-2-ds.jpg 1x, ./images/home/desktop/hmpg-2-ds@2x.jpg 2x"
              media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-2-tb.jpg 1x, ./images/home/tablet/hmpg-2-tb@2x.jpg 2x"
              media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-2-mb.jpg 1x, ./images/home/mobile/hmpg-2-mb@2x.jpg 2x"
              media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-2-mb.jpg" alt="ресторан зі столами і посудом на них">
          </picture>
        </div>
      </li>
      <!-- <li class="info-card">
        
        <p class="info-card__description">
        • Улучшить финансовые показатели<br/>
        • Повысить предсказуемость операционных и финансовых результатов<br />
        • Сплотить управленческую команду<br />
        • Сократить затраты на активы за счет лучшего обслуживания и управления денежными средствами<br />
        • Улучшить баланс и поток операций в доке, устранить потери и уменьшить вариативность<br />
        • Улучшить маршрутизацию грузовиков и график доставки<br />
        • Сократить эксплуатационные расходы (часто производительность труда, управление топливом или техническое обслуживание<br />
        оборудования)<br />
        • Оптимизировать администрирование на предприятии<br />
        • Настроить планирование и составление графиков для улучшения обслуживания и использования оборудования<br />
        • Повысить вовлечённость сотрудников<br />
        • Улучшить меж функциональную координацию (например, диспетчерские, доковые и флотские операции)<br />

        </p>
        <div class="info-card__thumb">
          <picture>
            <source srcset="./images/home/desktop/hmpg-3-ds.jpg 1x, ./images/home/desktop/hmpg-3-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-3-tb.jpg 1x, ./images/home/tablet/hmpg-3-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-3-mb.jpg 1x, ./images/home/mobile/hmpg-3-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-3-mb.jpg" alt="зал ресторану зі столами, стулами та лампами">
          </picture>
        </div>
      </li> -->
    </ul>
    <!-- <div class="slider-about-thumb">
      <ul class="slider-about about-restaurant__slider homepage-slider">
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/Screenshot_1.jpg 1x, ./images/home/desktop/Screenshot_1.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/desktop/Screenshot_1.jpg 1x, ./images/home/desktop/Screenshot_1.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/desktop/Screenshot_1.jpg 1x, ./images/home/desktop/Screenshot_1.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-4sl-mb.jpg" alt="бокали з вином на столі">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-5sl-ds.jpg 1x, ./images/home/desktop/hmpg-5sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-5sl-tb.jpg 1x, ./images/home/tablet/hmpg-5sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset=" ./images/home/mobile/hmpg-5sl-mb.jpg 1x, ./images/home/mobile/hmpg-5sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-5sl-mb.jpg" alt="стіл з посудом">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-6sl-ds.jpg 1x, ./images/home/desktop/hmpg-6sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-6sl-tb.jpg 1x, ./images/home/tablet/hmpg-6sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-6sl-mb.jpg 1x, ./images/home/mobile/hmpg-6sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-6sl-mb.jpg" alt="диван біля столу">
          </picture>
        </li>
        <li class="slider-about__item">
          <picture>
            <source srcset="./images/home/desktop/hmpg-7sl-ds.jpg 1x, ./images/home/desktop/hmpg-7sl-ds@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
            <source srcset="./images/home/tablet/hmpg-7sl-tb.jpg 1x, ./images/home/tablet/hmpg-7sl-tb@2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">
            <source srcset="./images/home/mobile/hmpg-7sl-mb.jpg 1x, ./images/home/mobile/hmpg-7sl-mb@2x.jpg 2x" media="(max-width: 1023px)" type="image/jpeg">
            <img src="./images/home/mobile/hmpg-7sl-mb.jpg" alt="стіл з напоями і стравами">
          </picture>
        </li>
      </ul>
    </div> -->
  </div>
</section>

