<section class="advantages">
    <div class="container">
        <h2 class="advantages__title products__title">Почему мы:</h2>
        <ul class="advantages__list">

            <li class="advantages__item list">
                <span class="advantages__thumb-cow-icon"></span>
                <h3 class="advantages__number">300+</h3>
                <p class="advantages__preTitle">Реализованных проэктов в логистике.</p>
            </li>

            <li class="advantages__item list">
                <span class="advantages__thumb-weight-icon"></span>
                <h3 class="advantages__number">100+</h3>
                <p class="advantages__preTitle">Проведённых обучений.</p>
            </li>

            <li class="advantages__item list">
                <span class="advantages__thumb-ice-icon"></span>
                <h3 class="advantages__number">30+</h3>
                <p class="advantages__preTitle">Находится на поддержке наставников проэктов.</p>
            </li>
        </ul>
    </div>
</section>