<section class="about-hotel">
  <div class="container about-hotel__container">
    <h2 class="visually-hidden">Мы стремимся</h2>
    <!-- <p class="about-hotel__logo">NGL</p> -->
    
    
    <ul>
      
    </ul>
  </div>
</section>

<section class="about-restaurant">
  <div class="container about-restaurant__container">
    <h2 class="visually-hidden">Мы целостно</h2>
    <!-- <p class="about-restaurant__logo">NGL</p> -->
    
    <ul class="info-cards">
      
    </ul>
  </div>
</section>

