
 <footer class="footer" id="contacts">
        <div class="container footer__container">
            <div class="tablet__wrapper">
                <div class="address-wrapper">
                    <a class="footer__logo link" href="./index.html">NGL</a>
                    
                </div>
                <div class="social-wrapper">
                    <p class="cta__title">Свяжитесь с нами</p>
                    <button type="button" class="  button-primary  js-open-modal" data-modal="1">
                      Заказать диагностику Бизнеса
                    </button>
                </div>
            </div>
            <div class="form-wrapper">
                <p class="cta__title">Подпишитесь на рассылку</p>
                <form class="footer__form cta-form">
                    <input class="cta-form__input" type="email" placeholder="E-mail">
                    <button class="button-primary" type="submit">Подписаться
                    </button>
                </form>
            </div>
        </div>

        <div class="footer-autors">
          <div class="autors-title">
            <p class="autors-title_text">© 2023 - Nova Generation Logictic. All Rights Reserved.</p>
          </div>
        </div>
    </footer>
