<header class="header">

<div class="container header__container">
  <div class="header__logo">
    <a href="./index.html" class="logo link">
      <span class="logo__name">NGL </span></a>
  </div>
      <button class="mobile-menu__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu" type="button">
        <svg width="40" height="40" aria-label="Button">
          <use href="./images/symbol-defs3.svg#icon-menu"></use>
        </svg>
      </button>
  <div class="header__nav">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link navigation__link--current" href="./index.html">Главная</a>
        </li>
        <li class="navigation__item"><a class="navigation__link navigation__link"
            href="./restaurant.html">Миссия</a></li>
        <li class="navigation__item"><a class="navigation__link" href="./hotel.html">Ценности</a>
        </li>
        <li class="navigation__item"><a class="navigation__link" href="./make.html">О нас</a></li>
      </ul>
    </nav>
  </div>
</header> 

