<header class="header">
<div class="container">
  <div class="header-container">
    <a href="./index.html" class="logo link">
    <span class="logo__name">NGL </span></a>

    <nav class="navigation">
        <div class="navigation-container">
        <ul class="navigation-list">
            <li class="navigation__list__item "> 
                <a href="./restaurant.html" class="navigation__list__link ">Миссия
                  <!-- <svg class="header__icon">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg> -->
                </a>
                </li>
            
            <li class="navigation__list__item ">
                <a href="./hotel.html" class="navigation__list__link">Ценности</a>
            </li>
          </ul>
        </div>
    </nav>

    <select class="change-lang">
      <option value="en">EN</option>
      <option value="ua">UA</option>
      <option value="ru" selected>RU</option>
     
    </select>


    <nav class="navigation__tablet">
        <ul class="navigation__tablet__list">
            <li class="navigation__tablet__list__item"> <a href="./restaurant.html" class="navigation__tablet__list__link">Миссия</a></li>

            <li class="navigation__tablet__list__item"> <a href="./hotel.html" class="navigation__tablet__list__link">Ценности</a> </li>
            
        </ul>
        
    </nav>
    <ul class="hero__socials__desktop">
         
          <li class="hero__socials__link"> <a href="https://wa.me/4915736251672" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon">
              <use href="./images/symbol-defsSoc.svg#icon-whatsapp1"></use>
            </svg></a></li>
          <li class="hero__socials__link"> <a href="https://t.me/VIP_NGL_Consulting" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg></a></li>
      </ul>
  </div>
</div>
</header> 

