<div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="mobile-menu__button js-close-menu" type="button">
        <svg width="30" height="30" aria-label="Кнопка мобільного меню">
            <use href="./images/symbol-defs3.svg#icon-close-1"></use>
        </svg>
    </button>
    <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav__item"><a class="navigation__link navigation__link"
                href="./index.html">Главная</a></li>
        <li class="mobile-menu-nav__item"><a class="navigation__link navigation__link" href="./restaurant.html">Миссия</a></li>
        <li class="mobile-menu-nav__item"><a class="navigation__link" href="./hotel.html">Ценности</a>
        </li>
        <li class="mobile-menu-nav__item"><a class="navigation__link" href="./make.html">О нас</a></li>
    </ul>
    <ul class="mobile-menu-contact">
     
        <li class="mobile-menu-contact__item"><a class="mobile-menu-contact__email"
                href="mailto:info@ngl-global.com">info@ngl-global.com</a></li>
    </ul>
    <ul class="mobile-menu-social">
        <li class="mobile-menu-social__item">
            <a class="mobile-menu-social__link" href="https://wa.me/4915736251672" rel="noreferrer noopener"
                target="_blank" title="Instagram">WhatsApp</a>
        </li>
        <li class="mobile-menu-social__item">
            <a class="mobile-menu-social__link" href="https://t.me/VIP_NGL_Consulting"  rel="noreferrer noopener" target="_blank"
                title="Twitter">Telegram</a>
        </li>
        <li class="mobile-menu-social__item">
            <a class="mobile-menu-social__link" href="https://msng.link/o?4915736251672=vi" rel="noreferrer noopener"
                target="_blank" title="Facebook">Viber</a>
        </li>
        
    </ul>
</div>