<section class="products" id="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">Если Вы:</h2>
        <ul class="products__list list">
            <li class="products__item">
                <h3 class="products__subtitle">Владелец бизнеса </h3>
                <p class="products__text_2">
                    и у вас:    
                </p>
                <p class="products__text">1.- Невысокая капитализация бизнеса;<br>
                2.- Идет много времени на решение операционных вопросов;<br>
                3.- Не сплочённая управленческая команда;<br>
                </p>
                <button type="button" class="products__btn" data-modal="ingr">
                    <svg class="products__icon " width="40" height="16">
                        <use href="./images/symbol-defs3.svg#icon-rrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__subtitle">Операционный директор</h3>
                <p class="products__text_2">
                    и у вас:
                </p>
                <p class="products__text">1.- Низкие темпы роста бизнеса;<br>
                2.- Низкая рентабельность предприятия;<br>
                3.- Низкая вовлечённость персонала;<br>
            </p>
                <button type="button" class="products__btn" data-modal="ingr">
                    <svg class="products__icon icon" width="40" height="16">
                        <use href="./images/symbol-defs3.svg#icon-rrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__subtitle">Финансовый директор</h3>
                <p class="products__text_2">
                    и у вас:
                </p>
                <p class="products__text">1.- Невысокие финансовые показатели;<br>
                2.- Высокие затраты на активы;<br>
                3.- Чрезмерные эксплуатационные и транспортные расходы;<br>
            </p>
                <button type="button" class="products__btn" data-modal="ingr">
                    <svg class="products__icon icon" width="40" height="16">
                        <use href="./images/symbol-defs3.svg#icon-rrow"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>

</section>