.hero__hotel {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(../images/home/mobile/03.jpg);
    background-color: $heroBgColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    height: 740px;
    @include retina {
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
        url(../images/home/mobile/03.jpg);
    }

    @include tablet {
        height: 720px;
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(../images/home/mobile/03.jpg);
        
        @include retina {
            background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
            url(../images/home/mobile/03.jpg);
        }  
    }
    
    @include desktop {
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(../images/home/mobile/03.jpg);

        @include retina { 
            background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
            url(../images/home/mobile/03.jpg);
        }
        max-width: 1920px;
    }
}

.hero__pretitle__hotel {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color: $mainLightColor;
    margin-top: 32px;
    margin-bottom: 178px;
    @include tablet {
        margin-bottom: 226px;
    }
    @include desktop {
        margin-bottom: 249px;
    }
}